<!DOCTYPE html>
<html lang="ko">
<head>
  <title>결제하기</title>
  <meta charset="utf-8">
  <script src="https://js.tosspayments.com/v1"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>
<section>
<!--  <button type="button" id="singup">singup</button>-->
<!--  <button type="button" id="chklogin">chklogin</button>-->
<!--  <button type="button" id="list">list</button>-->
<!--  <button type="button" id="update">update</button>-->
<!--  <button type="button" id="delete">delete</button>-->
<!--  <button type="button" id="save">save</button>-->
<!--  <button type="button" id="vlist">list</button>-->
<!--  <button type="button" id="vupdate">update</button>-->
<!--  <button type="button" id="vdelete">delete</button>-->

  <button type="button" id="write">write</button>
  <button type="button" id="nlist">nlist</button>
  <button type="button" id="nlistid">nlistid</button>
  <button type="button" id="ndel">ndel</button>
  <button type="button" id="nupd">nupd</button>





</section>
<script>
  $("#write").on('click',function(){
    $.ajax({
      type : "post",
      // url : "/api/notice/write",
      url : "/api/consult/write",
      contentType: "application/json",
      data:JSON.stringify({
        userId:"test@test.com",
        content:"12341234@!",
        userNm:"심운보",
        password:"123",
        title:"대리"
      }),
      success : function (res) {
        console.log(res)
        alert("작성이 완료되었습니다.");
      },
      error : function (status) {
        alert(status + "error!");
      }
    });
  })
  $("#nupd").on('click',function(){
    $.ajax({
      type : "put",
      // url : "/api/notice/modify",
      url : "/api/consult/modify",
      contentType: "application/json",
      data:JSON.stringify({
        id:1,
        userId:"test@test.com",
        content:"test",
        userNm:"심운보",
        auth:"admin",
        password:"123",
        title:"test"
      }),
      success : function (res) {
        console.log(res)
        alert("수정이 완료되었습니다.");
      },
      error : function (status) {
        console.log(status)
        alert(status + "error!");
      }
    });
  })
  $("#nlist").on('click',function(){
    $.ajax({
      type : "get",
      //url : "/api/notice/list",
      url : "/api/consult/list",
      success : function (res) {
        console.log(res)
        alert("회원가입이 완료되었습니다.");
      },
      error : function (status) {
        alert(status + "error!");
      }
    });
  })
  $("#nlistid").on('click',function(){
    $.ajax({
      type : "get",
      //url : "/api/notice/list",
      url : "/api/consult/1",
      success : function (res) {
        console.log(res)
        alert("회원가입이 완료되었습니다.");
      },
      error : function (status) {
        alert(status + "error!");
      }
    });
  })
  $("#ndel").on('click',function(){
    $.ajax({
      type : "delete",
      //url : "/api/notice/1",
      url : "/api/consult/1",
      data:{
        auth:"admin",
        password:"1233"
      },
      success : function (res) {
        console.log(res)
        alert("삭제가 완료되었습니다.");
      },
      error : function (status) {
        alert(status + "error!");
      }
    });
  })
  $("#save").on('click',function(){
    $.ajax({
      type : "post",
      url : "/video/save",
      contentType: "application/json",
      data:JSON.stringify({
        crtId:"1",
        title:"12341234@!",
        url:"심운보",
        content:"심운보",
        urlType:"youtube",
        item:"youtube"
      }),
      success : function (res) {
        console.log(res)
        alert("회원가입이 완료되었습니다.");
      },
      error : function (status) {
        alert(status + "error!");
      }
    });
  })
  $("#vlist").on('click',function(){
    $.ajax({
      type : "post",
      url : "/video/list",
      success : function (res) {
        console.log(res)
      },
      error : function (status) {
        alert(status + "error!");
      }
    });
  })
  $("#vdelete").on('click',function(){
    $.ajax({
      type : "post",
      url : "/video/1/delete",
      contentType: "application/json",
      success : function (res) {
        console.log(res)
      },
      error : function (status) {
        alert(status + "error!");
      }
    });
  })
  $("#vupdate").on('click',function(){
    $.ajax({
      type : "post",
      url : "/video/1/update",
      contentType: "application/json",
      data:JSON.stringify({
        title:"심슨보"
      }),
      success : function (res) {
        console.log(res)
      },
      error : function (status) {
        alert(status + "error!");
      }
    });
  });

  $("#singup").on('click',function(){
    $.ajax({
      type : "post",
      url : "http://www.elimsafe.com:8000/member/signup",
      contentType: "application/json",
      data:JSON.stringify({
        userId:"test@test.com",
        password:"12341234@!",
        userNm:"심운보",
        auth:"관리자",
        userRank:"대리"
      }),
      success : function (res) {
        console.log(res)
        alert("회원가입이 완료되었습니다.");
      },
      error : function (status) {
        var error=status.responseJSON.errorCode;
        if(error!=null){
          alert(status.responseJSON.errorMessage);
          return;
        }
      }
    });
  })
  $("#chklogin").on('click',function(){
    $.ajax({
      type : "post",
      url : "/member/chklogin",
      contentType: "application/json",
      data:JSON.stringify({
        userId:"test@test.com",
        password:"12341234@!"
      }),
      success : function (res) {
        console.log(res)
      },
      error : function (status) {
        alert(status + "error!");
      }
    });
  })
  $("#list").on('click',function(){
    $.ajax({
      type : "post",
      url : "/member/list",
      success : function (res) {
        console.log(res)
      },
      error : function (status) {
        alert(status + "error!");
      }
    });
  })
  $("#delete").on('click',function(){
    $.ajax({
      type : "post",
      url : "/member/1/delete",
      contentType: "application/json",
      success : function (res) {
        console.log(res)
      },
      error : function (status) {
        alert(status + "error!");
      }
    });
  })
  $("#update").on('click',function(){
    $.ajax({
      type : "post",
      url : "/member/1/update",
      contentType: "application/json",
      data:JSON.stringify({
        userNm:"심슨보",
      }),
      success : function (res) {
        console.log(res)
      },
      error : function (status) {
        alert(status + "error!");
      }
    });
  });
</script>
</body>
</html>